/* ./css/styles.css */

/* Default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

}

body {
  /* height: 100vh; */
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  /* margin: 3rem 5%; */

  /* Clear Skyes [Day] - DEFAULT */
  background: linear-gradient(135deg, #6285f3, #9db8e8, #809fff);
}

/* Header */
.btn-menu {
  color: #fff;
  background: transparent;
  border: none;
}
.btn-menu:focus-visible {
  border-color: transparent;
  outline: none;
  box-shadow: none;
}
.offcanvas {
  background-color: rgb(40 40 40);
}
li a {
  color: #fff;
}

.search-box {
  border: 1px solid #fff;
  border-radius: 20px;
}
/* Remove hover effect and change border color */
.form-control:focus {
  border-color: #575656;
  box-shadow: none;
}
#search-input {
  border: none;
  border-radius: 20px;
  padding-right: 40px;
  color: #fff;
  background: transparent;
}
#search-input::placeholder {
  color: #fff;
}
#search-button {
  border-radius: 20px;
  color: #fff;
  background-color: transparent;
  border: none;
  opacity: 1;
}
#clear-input {
  border-radius: 20px;
  color: #fff;
  background-color: transparent;
  border: none;
  display: none;
}

/* Weather Card / Content  */
.weather-card {
  background-color: transparent;
  border-color: transparent;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}
.weather-content {
  padding: 40px;
}
#temperature-div p {
  font-size: 60px;
}
#temperature-div i {
  font-size: 60px;
  margin-top: 20px;
  margin-right: 10px;
  color: gray;
}
/* Week Card */
.week-card {
  border-radius: 10px;
  border-color: rgb(219, 217, 217);
  background-color: rgb(219, 217, 217);
}
.week-content {
  padding: 10px;
}
/* Humidity, Wind Speed, Alerts ... */
#humidity-card,
#wind-speed-card,
#alert-card,
.week-card {
  /* Clear Skyes [Day] - DEFAULT */
  border-color: transparent;
  background-color: #577cee;
  /* border-color: #577cee; */

  /* Clear Skyes [Night] */
  /* background-color: #665b99; */

  /* Rainy Skyes [D&N] */
  /* background-color: #6e7999; */

  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  /* border-radius: 20px; */
}
#humidity-card,
#wind-speed-card {
  padding: 10px;
}
#humidity-card i,
#wind-speed-card i {
  font-size: 35px;
  color: #fff;
}

/* Mobile Screens */
@media (max-width: 767.98px) {
  body {
    transform: none !important;
    transition: none !important;
  }

  /* Weather Card / Content  */
  .weather-card {
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
  }
  #weather-content {
    padding: 10px;
  }
}
